<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 75px; margin-top: 21px;">
                            <p class="text-muted about-text">
                            I'm a User Interface and User Experience Designer living and working currently in Tampere, Finland. 
                            </p>
                            <p class="text-muted about-text">
                            I have a passion for human mind and how technology and designs can help and entertain 
                            us in our everyday life, hence I chose UI/UX as my career. I'm a curious problem solver 
                            and a hard-working team-worker. I pay a lot attention to details, aim for simplicity, 
                            and get truly happy when I can help people through my designs.
                            </p>
                            <p class="text-muted about-text">
                            When I'm not designing I'm doing aerial acrobatics, ballet, and photographing. And playing video games. 
                            Because of course. And redesigning many of them in my head because it's kind of hard to turn the 
                            design side off even during free-time! 
                            </p>
                        </div>
                    </div>
                    <h3 style="margin-bottom: 70px;">My path as a designer</h3>
                        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uta_logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2011</h4>
                                    <h4 class="subheading">University of Tampere</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began Information Technology studies in University of Tampere.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image" >
                                <img class="img-circle img-responsive" src="img/about/graduation-cap.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2014</h4>
                                    <h4 class="subheading">Bachelor of Science</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated in Interactive Technology from University of Tampere.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!-- tähän kuva -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2015</h4>
                                    <h4 class="subheading">Linja Design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked summer 2015 as a UI/UX trainee at Linja Design.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!-- tähän kuva -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016</h4>
                                    <h4 class="subheading">The Touchee Tales</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started working as UI/UX designer at The Touchee Tales Ltd a.k.a. Lipstick Mafia. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/graduation-cap.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2016</h4>
                                    <h4 class="subheading">Master of Science</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated in Human-Technology Interaction from University of Tampere.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be part
                                    <br>of my
                                    <br>story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>