{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}

.about-text {
    text-align: left;
}

.row.margined-row {
    margin-top: 0;
}

@media (min-width: 992px) {
    .row.margined-row  {
        margin-top: 75px;
    }
}